{% extends 'base.html' %}

{% block head %} 
<title>Welcome to the forum</title>
{% endblock %}
{% block body %} 
<h2>Welcome</h2>
<img src="{{user.image_url}}", width = "120px", height = "120px">
Name: <a href='/user'>{{user.user_name}}</a>
<br>

    <br>
<h2>Message Posting Area</h2>
<form action ='/forum', method ='POST', enctype="multipart/form-data">
    Subject <input type='text', name='subject', id ='subject', required>
    <br>
    Meessage Text <input type='text', name='message', id ='message'>
    <br>
    <input type='file', name='filename', id='filename', accept="image/*">
    <br>
    <input type='Submit',value ='Submit'>

    

<h2>All posts</h2>
{% for post in posts %}
<h2>{{post.Subject}}</h2>
<h3> {{post.Message}}</h3>
<h3>{{post.Author}}</h3>
<h3>{{post.Date_created}}</h3>
<img src="{{post.image_url}}", width = "120px", height = "120px">

{% endfor %}
<form action="/logout">
    <input type="submit" value="Logout" />
</form>
{% endblock %}