{% extends 'base.html' %}

{% block head %} 
<title>Welcome to the forum</title>
{% endblock %}
{% block body %} 
<h2>Please log in below</h2>
<h2>Last 10 visits</h2> 
{% for time in times %} 
<p>{{ time['timestamp'] }}</p> 
{% endfor %}
<form action ='/', method='POST'>
    ID <input type='text', name='id', id = 'id'>
    <br>
    Password <input type='string', name='password', id = 'password'>
    <br>
    <input type='Submit',value = Login>
    <br>
    <a href='/register'>Register</a>


{% endblock %}