{% extends 'base.html' %}

{% block head %} 
<title>Welcome to the forum</title>
{% endblock %}
{% block body %} 
<h2>Please log in below</h2>
{% for time in times %} 
<p>{{ time['timestamp'] }}</p> 
{% endfor %}
<p>{{message}}</p>
<form action ='/', method ='POST'>
    ID <input type='text' name='ID' id ='ID', required>
    <br>
    Password <input type='integer' name='password' id ='password' required>
    <br>
    <input type='Submit',value = 'Login'>
    <br>
    <a href='/register'>Register</a>


{% endblock %}